/* RTL Style */

*{
  margin:0; 
  padding:0; 
  outline:none; 
}
html{
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word; 
  word-wrap:break-word; 
  background-color:#fff; 
  position:relative; 
  font-size:15px; 
  color:#222222; 
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
img{ 
  margin:0; 
  padding:0; 
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: bold;
  margin:0;
  padding:10px 0;
  font-family: Montserrat;
}
p{ 
  font-size:15px; 
  line-height: 1.5;
  color: #6b6b6b;
}
a{ 
  text-decoration:none; 
  color:#ff5400;
}
a:hover{ 
  text-decoration:none; 
  color:#666;
}
a:focus,
a:hover{
  text-decoration:none !important;
}
a:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="phno"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus, 
textarea:focus,
input[type="submit"]:focus,
#comments:focus,
select:focus,
.toggle-nav button:focus,
.search-box i:focus{
  outline: 1px solid #000;
  text-decoration:none !important;
}
.slider .inner_carousel h1 a:focus, .slider .more-btn a:focus, .closepop a:focus, .search-box a:focus,.serach_inner input.search-field:focus, .serach_inner input.search-submit:focus, button.close:focus{
  outline: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-decoration:none !important;
}
.entry-content a, .sidebar .textwidget p a, .textwidget p a, #comments p a, .slider .inner_carousel p a{
  color: #ff5400;
  text-decoration: underline;
}
.close:focus, .close:hover {
  color: #fff;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.clear{ 
  clear:both;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
button{
  padding: 5px;
}
.home .middle-align{
  padding: 0;
}
.middle-align,.blog .middle-align{ 
  margin: 0 auto; 
  padding: 3em 0 0;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
/*---------- WIDE BLOCKS ------------*/
.alignwide {
  margin-right  : -60px;
  margin-left : -60px;
}
.alignfull {
  margin-right  : calc( -100vw / 2 + 100% / 2 );
  margin-left : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft, 
img.alignleft {
  display: inline; 
  float: right; 
  margin-left:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
  border:1px solid #bbb;
  padding:5px; 
}
.alignright, 
img.alignright { 
  display: inline; 
  float: left; 
  border:1px solid #bbb; 
  padding:5px;
  margin-bottom:10px;
  margin-right:25px;
}
.aligncenter, 
img.aligncenter {
 clear: both; 
 display: block; 
 margin-right: auto; 
 margin-left: auto; 
 margin-top:0; 
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
 margin:0;
 padding:0;
}
small{
  font-size:14px !important;
}
a.small-button{
  background:#3890cb;
  padding:5px 30px; 
  border-radius:3px;
  color:#fff;
  display:table;
  margin:0 auto;
}
a.small-button:hover{
  color:#fff;
  background:#0c5f96;
}
input[type="text"],
input[type="email"],
input[type="phno"], 
textarea{
  border:1px solid #bcbcbc;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px; 
}
input[type="submit"] {
  border:2px solid #29459f; 
  text-align:center;
  text-transform:uppercase;
  font-size:16px;
  padding:8px 30px; 
  background:#4c66ba;
  font-weight:bold;
  color:#fff;
  border-radius:3px;
  display:table;
}
input[type="submit"]:hover{
  background:#3890cb;
}
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ff5400;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.hvr-sweep-to-right:hover, 
.hvr-sweep-to-right:focus, 
.hvr-sweep-to-right:active {
  color: #fff;
}
.hvr-sweep-to-right:hover:before, 
.hvr-sweep-to-right:focus:before, 
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* ---------Buttons--------- */
a.button-all{
  border:2px solid #000;
  color:#000;
  padding:8px 50px;
  margin:20px 0 0 0; 
  font-weight:bold;
}
a.button{
  background: #ff5400;
  color: #fff;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 7px 30px;
  text-transform: uppercase; 
  font-weight:bold;
}
.page-content a.button.hvr-sweep-to-right:hover{
  background: #212121;
}
/* --------- MENUS CSS --------- */
#mySidenav {
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
.main-navigation a{
  display: block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  padding: 7px 15px;
}
.main-navigation a:hover{
  color: #ff5400;
}
.main-navigation a:focus{
  outline: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 90%;
  border-top: 4px solid #ff5400;
  border-bottom: 4px solid #ff5400;
  line-height: 30px;
  border-radius: 5px;
}
.main-navigation ul ul ul{
  right: 100%;
  top: 0%;
}
.main-navigation ul ul a{
  color: #000 ;
  border: none;
  padding: 5px 10px ;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-navigation ul.sub-menu a:hover{
  color: #ff5400;
  padding-right: 50px !important;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  right: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #222;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  right: 15px;
  width: 20px;
}
.main-navigation ul ul a:focus{
  outline: 1px solid #000;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
.main-menu {
  padding: 10px 30px;
}
/*--------------- SUPERFISH MENU ---------------------------*/
.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-left: -3px;
  border-color: transparent;
  border-right-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-right-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}
/* ---------HEADER--------- */
#our-services iframe {
  width: 100%;
}
.page-template-custom-home-page .header-image,
.header-image.bg-image img {
  display: none;
}
.blog #header {
  margin-bottom: 2%;
}
span.email i, span.timings i, span.call i {
  margin-left: 3%;
  color: #ff5400;
}
span.email a, span.call a {
  color: #222;
}
span.email a:hover, span.call a:hover {
  color: #ff5400;
}
.con_details {
  margin-right: 4%;
  margin-left: 4%;
}
.padremove{
  padding-left: 0;
  padding-right: 0;
}
#header {
  border-bottom: solid 2px #222;
  background: #fff;
}
.menubox {
  background:rgba(0, 0, 0, 0) linear-gradient(-122deg, transparent 6%, #212121 0%) repeat scroll 100% 0;
  width: 100%;
  float: right;
  background-size: 100% 100%;
}
#header.fixed{
  position:fixed !important; 
  top:0 !important; 
  margin:0; 
  padding:15px 0; 
  z-index:99999999; 
  background-color:#ffffff; 
  opacity:inherit;
}
#header .logo {
  padding: 4% 0;
  text-align: center;
  transform: skew(-36deg);
}
.logowrapper {
  background: #ff5400;
  transform: skew(36deg);
  position: relative;
  right: -4em;
}
#header .logo h1, #header .logo p.site-title{ 
  font-weight:700; 
  text-transform:uppercase; 
  padding:0; 
  margin-bottom:8px; 
  font-size:30px; 
  font-weight:bold; 
  margin-top: 0; 
  text-align:center;
}
#header .logo a, #header .logo p.site-title a{ 
  color:#ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Montserrat;
}
#header .logo .site-title a:hover{ 
  color: #222222;
}
#header .logo p {
  font-size: 12px;
  color: #fff;
}
#header .header-top{
  background:#000;
  color:#aaaaaa;
}
#header .header-top a{
  color:#aaaaaa;
}
#header .top-contact {
  padding: 5px 0;
  font-size: 15px;
  text-align: center;
  color: #222;  
}
.buttonbox a{
  background:#3890cb;
  color:#fff;
  padding:8px 15px;
  display:block;
  margin:27px 0 0 0;
  border-radius:5px;
  text-align:center;
}
.buttonbox a:hover{
  background:#000;
  color:#fff;
}
.home .menubox{
  top: 0%; 
  height: auto;
  clear: both;
  color: white;
}
.top-right a{
  color:#ffffff;
}
p.mail a:hover{
  color:#ff5400!important;
}
.top-right p {
  display: inline-table;
  padding-top:17px;
  padding-right:17px;
  color:#ffffff;
}
/* Homepage */
#our-services small{
  color:#6d6d6d;
  margin:0 0 20px 0;
}
#our-services .small-button{
  margin-top:30px;
}
#our-services .page-box{
  background:#113665;
  text-align:center;
  color:#fff;
  border-radius:5px; 
  padding:30px 10px;
  margin: 0 0 4% 0;
}
#our-services .page-box h4{
  color:#fff;
  margin:0 0 29px 0;
  padding:0;
}
#our-services .page-box p{
  font-size:15px;
  margin:0 15px;
}
#our-services .services-box{
  margin:40px 0 20px 0;
}
.entry-audio audio {
  padding: 10px;
  background: #f95301;
  width: 100%;
} 
/* -------------Woocommerce Footer css -------------------*/
.footer ul.cart_list li,
.footer ul.cart_list li, .footer ul.product_list_widget li{
  padding-bottom: 15px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
  width: 50px;
  height: 50px;
}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total{
  padding: 10px 0;
  margin: 0;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove{
  top: 5px;
}
.woocommerce .widget_shopping_cart ul.cart_list li{
  background: none;
}
.woocommerce ul.cart_list li::after, 
.woocommerce ul.cart_list li::before, 
.woocommerce ul.product_list_widget li::after, 
.woocommerce ul.product_list_widget li::before{
  content: none !important;
}
.sidebar .widget_rating_filter ul li,,
.sidebar .woocommerce ul.product_list_widget li
.sidebar .woocommerce ul.cart_list li, .sidebar .woocommerce ul.product_list_widget li{
  padding: 0 0 10px 0;
}
.sidebar .widget_shopping_cart ul.cart_list li{
  padding: 0 30px 10px 0;
}
.widget .woocommerce-product-search button[type="submit"]{
  background: #ff5400;
  color: #fff;
  padding:10px;
  width: 100%;
  border:none;
  margin-top: 8px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
  background: #ff5400;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background: #000;
}
.footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background: #fff;
}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating{
  margin: 6px 0;
}
/*---------------- Woocommerce CSS------------------ */
.woocommerce .select2-container--default .select2-selection--single{
  height: 40px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered{
  padding: 5px 8px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 8px;
}
.woocommerce form .form-row input.input-text {
  padding: 8px;
  border: 1px solid #bcbcbc;
}
.related.products h2 {
  text-align: right;
}
.woocommerce .star-rating span::before {
  color: #f3f321;
}
.woocommerce ul.products li.product .star-rating{
  margin: 0 auto 8px;
  font-size: 15px !important;
}
.woocommerce span.onsale{
  background: #ff5400;
  padding: 0;
}
.products li {
  box-shadow: 2px -2px 5px #bbb;
  padding: 10px !important;
  text-align: center;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product li .product_title {
  color: #000;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center !important;
  font-size: 20px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #ff5400;
  color: #fff !important;
  border-radius: 0;
  padding: 10px 20px !important;
  opacity: 1 !important;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #000;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 7px;
  border-radius: 0;
  border: solid 1px #000;
  color: #000;
}
.col-1,.col-2 {
  max-width: 100%;
}
.woocommerce .col2-set .col-1 {
   max-width: 100%;
}
.woocommerce .col2-set .col-2 {
   max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #ff5400;
  padding: 12px !important;
  margin-bottom: 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  font-weight: bold;
}
nav.woocommerce-MyAccount-navigation ul li a:hover{
  color: #222;
}
span.posted_in {
  display: block;
}
span.woocommerce-input-wrapper {
  width: 100%;
}
select.orderby {
  padding: 10px;
}
.woocommerce-product-gallery__image{
  padding: 2px;
}
.woocommerce .cart .button, .woocommerce .cart input.button{
  padding: 12px;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-account .woocommerce-MyAccount-content a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb a{
  margin-top: 20px;
}
.woocommerce input#password{
  border: 1px solid #bcbcbc;
}
.woocommerce-page form .password-input{
  width: 100%;
}
.woocommerce label {
  width: 100%;
}
.woocommerce nav.woocommerce-pagination ul li a {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #ff5400;
  transition: background .15s ease-in-out;
  font-weight: bold;
}
.woocommerce nav.woocommerce-pagination ul li a:hover{
  background: #000;
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li span.current{
  padding: 12.5px 15px;
  background: #000;
  color: #fff;
  font-weight: normal;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li{
  border: none;
  float: none;
  overflow: unset;
}
.woocommerce nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 20px;
} 
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 110px !important;
  padding: 5px 5px 5px !important;
  margin: 0px 0 0px 10px !important;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  margin-bottom: 30px;
}
/* Woocommerce CSS End*/
.new-line,
.box-content p{
  margin-bottom: 2em;
}
.box-content h3{
  color:#000;
  font-weight: bold;
}
.text-center{
  text-align: center!important;
}
a.r_button {
  background: #3790ca;
  padding: 0.5em 2em;
  color: #fff;
}
/*----------- PRELOADER ----------*/
#preloader {
  background-color: #ff5400;
  bottom: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  height: 100%;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  right: 0;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  right: 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  height: 34px;
  width: 34px;
  top: 35px;
}
@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.elementor-page #preloader{
  display: none;
}
/* Footer Section */
.scrollup i {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 60px;
  left: 10px;
  font-size: 20px;
  display: none;
  color: #fff;
  padding: 10px;
  background: #ff5400;
}
.scrollup.left i{
  right: 10px;
}
.scrollup.center i{
  right: 50%;
  left: 50%;
}
/* Footer Section */
.footer a:focus{
  outline: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.footer .custom-social-icons i {
  background: #fff;
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1.5;
}
.footer .custom-social-icons i:hover{
  background: #ff5400;
  color: #fff;
}
.footer .widget {
  padding: 20px 0;
}
.footer .tagcloud a {
  color: #fff;
}
.footer input[type="submit"]{
  margin-top: 0;
  padding: 10px 9px;
  font-size: 15px; 
  width: 100%; 
}
.footer .search-form .search-field,
.footer .search-form label {
  width: 100%;
  color: #fff;
}
.footer .search-form .search-field:focus{
  border-color: #fff;
}
.footer caption {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
.footer table,
.sidebar table,
.footer th,
.sidebar th,
.footer td,
.sidebar td {
  border: 1px solid #d1d1d1;
  text-align: center;
}
.footer td{
  padding: 8px;
  color: #fff;
}
.footer th{
  text-align: center;
  padding: 10px;
  color: #fff;
}
.footer select {
  padding: 8px 5px;
}
.footer h3 {
  color: #485438;
  font-weight: 600;
  font-size: 25px;
}
.footer li a {
  color: #fff;
  font-size: 15px;
}
.footer li a:hover, .sidebar ul li a:hover {
  color: #ff5400;
}
.footer ul li {
  list-style: none;
  padding: 5px 0;
}
.footer ul {
  margin: 0;
}
.footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
.footer {
  color: #fff;
  background: #000;
}
.footer h3{
  color: #fff;
  border-bottom: 3px solid #ff5400;
  text-align:right;
  border-bottom-style: double;
  text-transform:uppercase; 
  font-size:18px;
  margin:0 0 15px 0; 
  padding:15px 0 15px 0;
}
h3.navigate {
  color: #ff5400;
  font-size: 17px;
  border-bottom: 10px solid #ff5400;
  border-bottom-style: double;
}
.sec {
  margin: 1em 0;
}
.sec a{
  color:#000!important;
}
.footer p{
  font-size:17px;
  color: #fff;
}
.navigate  ul{
  list-style: none;
}
.footer ul li.current_page_item a {
  color:#fff!important;
}
.footer .news-form{
  margin-top:24px;
}
.copyright.text-center a {
  color: #fff;
}
.footer .copyright{
  text-align:center; 
  border-top:1px solid #337ab7;
  margin:30px 0 0 0;
  padding-top:40px;
}
.footer-2{
  background:#ff5400;
  text-align:center;
  padding:15px 0; 
}
.footer-2 p,
.footer-2 a{
  margin: 0;
  color:#fff;
  font-size: 15px;
}
.footer-2 p a:hover{
  color: #212121;
}
/* ---------Choose us section ------- */
.choose_us {
  text-align: center;
  padding:3% 0;
}
.heading-line h2 {
  font-weight: bold;
  font-size: 30px;
  color: #222;
  text-transform: uppercase;
}
.choose_us h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 3%;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.choose_us h3 a{
  color: #222;
}
.choose_us p {
  margin: 15px;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
}
.images_border {
  margin-bottom: 3%;
}
/* --------- Blog Page ------- */
h1.page-title {
  margin-bottom: 1%;
  margin-top: 0;
  font-size: 35px;
}
#our-services {
  margin-top: 0;
}
.post-main-box:hover h2 a{
  color: #222222;
}
.post-main-box:hover .metabox a, .single-post .metabox:hover a{
  color: #ff5400;
}
.post-main-box img {
  margin-bottom: 15px;
}
.post-main-box {
  float: right;
  width: 100%;
  background: #fff;
  padding: 15px;
  margin-bottom: 5%;
  border: 1px solid #ddd;
}
.box-image img {
  max-width: 100%;
}
.post-main-box h2 {
  margin-top: 0;
  padding-top: 0;
  color: #ff5400;
  text-transform: capitalize;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}
.new-text p,
#our-services p {
  font-size: 13px;
  letter-spacing: 1px;
  color: #6b6b6b;
  line-height: 20px;
}
.datebox {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.date-monthwrap {
  background: #ff5400;
  padding: 25px 0;
}
.yearwrap {
  background: #fd912f;
  padding: 7px 0;
  opacity: 0.8;
}
.blogbutton-small {
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding: 6px 25px;
  border: 2px solid #ff5400;
  color: #ff5400;
  font-size: 14px;
  margin: 25px 0 0 0;
  display: table;
}
.postbox {
  margin-bottom:39px;
  border-bottom:2px dotted #7e7e7e;
  padding:0 0 26px;
}
.postbox h2{
  margin:0 0 5px; 
  font-weight:bold;
}
.postbox  a.blogbutton {
  background:none;
  color:#fff;
  font-size:12px; 
  font-weight:bold;
  padding:6px 25px;
  border:1px solid #000;
  font-size:18px;
  text-transform:uppercase;
  margin:25px 0 0 0;
  display:table;
}
.metabox{
  color:#222;
  padding:15px 0; 
  clear:both;
}
.metabox span,
.metabox a{
  margin-left:5px;
  color: #222;
}
.metabox a:hover{
  color: #ff5400;
}
.metabox i{
  margin-left:6px;
  color: #222;
}
h1.single-post-title{
  margin-top: 0;
  padding-top: 0;
  color: #ff5400;
  text-transform: capitalize;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}
.page-header{
  border-bottom: none!important;
}
.feature-image-box img{
  width:100%!important;
}
.tags a {
  text-decoration: none!important;
  font-weight: 400;
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}
.single-post .metabox{
  color: #000;
  clear: both;
  font-size: 14px;
  letter-spacing: 1px;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
  text-align: right;
}
.single-post .nav-previous a,
.single-post .nav-next a{
  outline: none !important;
  border-bottom: none !important;
}
.date-month a, .date-day a, .date-year a {
  color: #fff;
}
.entry-date a{
  color: #222;
}
.related-post {
  clear: both;
}
.related-post h3 {
  padding: 15px 0px 15px;
}
.nav-previous a{
  padding: 15px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: right;
  background: #222222;
}
.nav-next a{
  padding: 15px 15px;
  color: #fff;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  text-align: left;
  background: #222222;
}
.nav-previous a:hover, .nav-next a:hover {
  background: #ff5400;
  color: #fff;
  transition-duration: 0.5s;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: right;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
}
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1; 
  color:#000;
  padding:5px 15px;
  margin-left:5px;
}
.bradcrumbs a:hover{
  background:#ffd34e;
}
.bradcrumbs span{
  background:#dddddd; 
  color:#000;
  padding:5px 15px;
}
/* Comments BOX */
#comments ol {
    list-style: none;
}
#comments{  
  margin-top:30px;
}  
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#ff5400 !important;
  padding:10px 20px;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:20px;
  margin-right:0;
  border: none;
} 
#comments a.comment-reply-link{
  color:#fff;
  background:#ff5400;
  padding:5px 15px;
}  
#comments a.comment-reply-link:hover{
  background:#cecece;
  color: #000;
}  
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#comments .reply{
  float:left;
}
#comments .comment-metadata{
  width:90%;
  float:right;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  float:right;
  margin-right:7%;
}  
#comments p {
  width:100%;
  float:right;
}
/*----------single-post-comments---------*/
.comments .comment-author, .comment-author.vcard {
  width: 50%;
  float: right;
}
.comment-meta.commentmetadata {
  float: left;
  width: 50%;
  text-align: left;
}
.comments p {
  width: 90%;
  float: right;
}
.comments .reply {
  float: right;
}
.reply {
  width: 100%;
  float: right;
}
#comments h2.comments-title {
  font-size: 28px;
  font-weight: bold;
  border-top: 2px dotted #7e7e7e;
  padding: 20px 0 0 0;
  margin-bottom: 20px;
}
#comments ol li {
  width: 100%;
  list-style: none;
  margin: 20px 0 !important;
  padding: 20px !important;
  background: #fff;
  display: inline-block;
  border: solid 1px #f0f0f0;
}
/* --------- SLIDER--------- */
.slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #000;
}
.slider img {
  width: 100%;
  opacity: 0.7;
}
.slider .carousel-item-next,.slider .carousel-item-prev,.slider .carousel-item.active {
  display: block !important;
}
.slider .carousel-control-prev-icon i, .slider .carousel-control-next-icon i{
  padding: 11px 20px;
  background-color: rgba(64, 70, 76, 0.8);
  color: #fff;
  font-size: 20px;
  border-radius: 50%
}
.slider .carousel-control-next, .slider .carousel-control-prev{
  opacity: 1;
  top:0;
}
.slider .carousel-control-next-icon, .slider .carousel-control-prev-icon{
  width: auto !important;
  height: auto;
  background:transparent !important;
}
.slider .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
  right: 20%;
}
.slider .inner_carousel h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: none;
}
.slider .inner_carousel h1 a{
  color: #fff;
}
.slider .inner_carousel p {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 2;
  color: #fff;
}
.slider .inner_carousel {
  text-align:center;
  color: #fff;
}
.slider .more-btn a{
  padding: 10px 25px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  background-color: #ff5400;
  border: 2px solid #ff5400;
}
.slider .more-btn a:hover{
  color: #fff;
  background:transparent;
  border-color: #fff;
}
.slider .more-btn{
  margin: 25px 0;
}
/*----------------- SEARCH POPUP ----------------*/
.serach_inner label {
  width: 80% !important;
}
.serach_outer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.8);
  display: none;
}
.serach_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.closepop {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  text-align: left;
  margin-left: 28px;
}
.serach_outer i {
  font-size: 24px;
  padding: 4px 0 0 0;
  color: #bbb;
  cursor: pointer;
}
.serach_inner form.search-form {
 display: table;
 padding: 0;
 border-radius: 0;
 border-bottom: solid 1px #999; 
 margin: 0 auto;
 max-width: 700px;
 width: 100%;
}
.serach_inner input.search-submit {
  padding: 10px 25px;
  background: url(images/search.png) no-repeat scroll 100% 8px !important;
  font-size: 13px;
  text-align: center;
  float: left;
  text-indent: -9999px;
  border: none !important;
}
.serach-page input.search-field {
  border: 1px solid #ccc;
  padding: 9px;
}
button.search-submit {
  border: 0;
  background: transparent;
}
.serach_inner input.search-field {
  border: none;
  padding: 4px 0;
  background: transparent;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  color: #999;
}
.search-box i {
  color: #fff;
  cursor: pointer;
  padding: 10px;
  background: #ff5400;
  border-radius: 50%;
  margin-top: 6px;
}
/* Sidebar */
.woocommerce-page .sidebar {
    margin-top: 5%;
}
.sidebar form{
  display: table;
  width: 100%;
}
.sidebar .custom-social-icons i {
  background: #ff5400;
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1.5;
  color: #fff;
}
.sidebar .custom-social-icons i:hover {
  background: #000;
  color: #ff5400;
}
.sidebar h3{
  margin:0 0 25px; 
  padding:0; 
  text-transform:uppercase;
  font-weight:bold;
  font-size:20px;
}
.sidebar input[type="search"] {
  background:#eeeeee;
  padding:12px 10px; 
  border:none; 
  font-size:15px; 
  color:#000;
  width: 100%;
}
.sidebar label{
  width:70%;
  float:right;
}
.sidebar input[type="submit"] {
  background: #000;
  border: none;
  color: #fff;
  padding: 11px 0;
  width: 30%;
  font-size: 14px;
  float: right;
  margin: 0;
  border-radius: 0px;
}
.sidebar aside{
  padding-bottom:30px; 
  border-bottom:2px dotted #000;
  margin-bottom:30px;
}
.sidebar td {
  padding: 8px;
  color: #222;
}
.sidebar th{
  text-align: center;
  padding: 10px;
  color: #222;
}
.sidebar ul {
  list-style:none;
  margin:0; 
  padding:0; 
  font-size:17px;
}
.sidebar ul ul li {
  padding-right: 20px;
}
.sidebar ul li{
  padding-bottom: 10px;
}
.sidebar ul li::before {
  content: "" ;
  margin-left: 10px ;
  height: 8px ;
  width: 8px ;
  background: #e1261c;
  display: inline-block !important;
  transform: rotate(45deg) ;
}
.sidebar ul li a{
  color:rgba(51, 51, 51, 0.68);
}
.sidebar .tagcloud a,
.footer .tagcloud a{
  background:#eeeeee; 
  color:#000; 
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px; 
  display:inline-block;
}
.sidebar .tagcloud a:hover,
.footer .tagcloud a:hover{
  background:#ff5400;
  color: #fff;
}
/**
 * 5.0 - Forms
 */
.search-submit {
  margin: 0;
  display: inline !important;
  background: #ff5400!important;
  border: 1px solid #ff5400 !important;
}
.sidebar select{
  width: 100%;
  padding: 10px;
}
.sidebar .widget {
  border: 1px solid #ddd;
  padding: 15px;
  background: #fff;
  margin-bottom: 30px;
}
.sidebar .widget h3 {
  color: #ff5400;
  font-size: 25px;
  text-transform: none;
  letter-spacing: 2px;
  border-bottom: 3px double;
  padding-bottom: 5%;
}
#our-services .search-field { 
  padding: 4%; 
}
.search-field { 
  padding: 6%; 
}
/* Page */
.title-box{
  background-repeat:no-repeat;
  background-size:100% 100%; 
  color:#fff; 
  text-transform:uppercase;
  padding:75px 0; 
  font-weight:bold; 
  text-align:center;
  margin-bottom:25px;
}
.single .title-box{
  background-size:100% 100%;
}
hr{
  border:none;
  border-bottom:2px dotted #7e7e7e;
  margin:35px 0; 
  clear:both;
  opacity: 1;
}
.read-moresec{
  margin:2% 0;
}
.page-content {
  margin: 2%;
}
.page-content h1{
  padding: 0 0 5px;
}
.page-content, .page-content p {
  text-align: center;
}
.page-content p {
  margin: 0;
}
.page-content .read-moresec {
  margin: 0;
  margin-bottom: 20px;
}
/* Pagination */
.pagination {
  clear:both;position:relative;font-size:14px; /* Pagination text size */
  line-height:13px;
  float:left; /* Pagination float direction */
  font-weight:bold;width:100%;
}
.pagination span, .pagination a {
  display:block;
  float:right;
  margin: 2px 0 2px 2px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#fff; /* Pagination text color */
  background: #ff5400 ; /* Pagination non-active background color */
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.pagination a:hover{
  color:#fff;
  background: #000; /* Pagination background on hover */
}
.pagination .current{
  padding:10px 15px;
  background: #000; /* Current page background */
  color:#fff;
  font-weight:normal;
}
.pagination ul, .pagination ul li{
  margin:0;
  clear:both;
}
.post-navigation{
  clear:both;
}
.post-navigation {
  clear: both; 
}
.post-navigation .post-title { 
  font-size: 20px; 
  font-size: 1.75rem; 
  line-height: 1.25; 
}
/*------single-post-pagination------*/
.post-navigation a {
  color: #1a1a1a;
}
.nav-next {
  float: left;
  width: 50%;
  text-align: left;
}
.nav-previous {
  width: 50%;
  float: right;
  text-align: right;
}
.nav-next span.meta-nav:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.nav-previous span.meta-nav:before{
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin: 25px 0 0;
  padding: 15px;
  color: #000;
}
.post-navigation span { 
  display: block;
}
.post-navigation .post-title {
  display: none;
}
/* restore screen-reader-text */
.nav-previous {
  float: right;
  width: 50%;
}
.post-navigation .current .screen-reader-text { 
  position: absolute !important; 
}
.post-navigation .page-numbers { 
  display: inline-block; 
}
.post-navigation a { 
  color: #1a1a1a; 
}
.single-post .nav-previous a,
.single-post .nav-next a{
  color: #000;
  background: transparent;
}
.single-post .nav-previous a:hover,
.single-post .nav-next a:hover {
  color: #ff5400;
  background: transparent;
}
.post-navigation span { 
  display: block; 
}
.post-navigation .meta-nav { 
  color: #686868; 
  font-size: 13px;
  letter-spacing: 0.076923077em; 
  line-height: 1.6153846154; 
  text-transform: uppercase; 
}
.post-navigation .post-title {
  font-size: 20px; 
  font-weight: 700;  
  line-height: 1.2173913043; 
  text-rendering: optimizeLegibility;
}
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title { 
  color: #ff5400; 
}
.post-navigation:before {
  left: 0;
}
.post-navigation:after {
  left: 54px;
}
.post-navigation a:hover,
.post-navigation a:focus {
  color: #1a1a1a;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,
.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
/* reset screen-reader-text */
.post-navigation .current .screen-reader-text {
  position: static !important;
}
.post-navigation .page-numbers {
  display: none;
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 -0.7368421053em 0 0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,
.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,
.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,
.post-navigation .prev:focus,
.post-navigation .next:hover,
.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,
.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  left: 54px;
}
/*------------- About us widgets --------------*/
.footer .more-button, .sidebar .more-button {
  margin: 20px 0px 10px 0px;
}
.footer a.custom_read_more, .sidebar a.custom_read_more {
  background: none;
  font-weight: bold;
  padding: 6px 25px;
  border: 2px solid #ff5400;
  color: #ff5400;
  font-size: 14px;
}
.footer p.custom_author, .sidebar p.custom_author {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 4px;
}
.footer p.custom_designation, .sidebar p.custom_designation {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 4px;
}
.sidebar a.custom_read_more:hover{
  background: #212121;;
  color: #fff;
  border-color: #212121;
}
.footer a.custom_read_more:hover {
  background: #ff5400;
  color: #fff;
}
.custom-about-us h3.custom_title {
  text-align: right;
}
.custom-about-us {
  text-align: center;
}
/*------------- Contact us widgets --------------*/
.custom_details {
  font-size: 15px;
  font-weight: bold;
}
.custom-social-icons input[type="text"], .custom-social-icons input[type="email"], .custom-social-icons textarea {
  margin: 0;
  background: transparent;
}
form.wpcf7-form {
  margin-top: 20px;
}
.sidebar .custom-contact-us form {
  text-align: right;
}
.sidebar .custom-contact-us label{
  width: 100%;
}
.sidebar .custom-contact-us input[type="submit"]{
  background:#ff5400;
  width: 100%;
}
.footer input[type="submit"]{
  background: #ff5400;
  border: 1px solid #ff5400;
}
.admin-bar #header{
  margin-top: 32px;
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width:600px) {
  .admin-bar #header{
    margin-top: 46px;
  }
}
@media screen and (max-width:991px) {
  .day-time{ 
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
  h3.navigate {
    padding: 1em 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px){
  .woocommerce #payment #place_order{
    width: auto;
  }
  .footer h3{
    font-size: 11px;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 47% !important;
    margin: 3% 0 !important;
  }
  .slider .carousel-caption{
    top: 35%;
  }
  .logowrapper{
     transform: none; 
     right: 0px; 
  }
  #header .logo{
    transform: none;
    padding: 1% 0;
  }
  #header .logo h1{
    font-size: 23px
  }
  .menubox{
    background-image:none;
    background-color: #000; 
    padding: 10px 0px 15px;
  }
  .footer th,
  .footer td,
  .sidebar th,
  .sidebar td{
    padding: 1px;
  }
  .sidebar .custom-social-icons i{
    margin:1px 0;
  }
  .admin-bar #header {
    margin-top: 45px;
  }
  .serach_inner form.search-form{
    max-width: 500px;
  }
  .serach_inner label {
    width: 80%;
  }
}
@media screen and (max-width:720px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product{
    width: 100% !important;
    margin: 10px 0;
  }
  #header .top-contact{
    padding: 5px 0;
  }
  #header .logo{
    transform: none;
  }
  .logowrapper{
    transform: none;
    right: 0;
  }
  #header .top-contact,
  .slider .inner_carousel
  {
    text-align: center;
  }
  #header .search-box{
    margin-bottom: 5px;
  }
  .slider .inner_carousel h2,
  .slider .inner_carousel p{
    display: none;
  }
  .slider .more-btn{
    margin: 0px;
  }
  .slider .carousel-control-next, .slider .carousel-control-prev{
    top:0;
  }
  #comments input[type="submit"].submit {
    width: 100% !important;
  }
  .top-right.text-right{
    text-align:center!important;
  }
  .menubox {
    top:0!important;
    margin-right:0!important;
    width: 96%!important;
    background: none!important;
  }
  .post-main-box h3{
    margin: 10px 0;
  }
  .menu1 {
    margin-right: 0;
  }
  nav.navigation.pagination {
    margin-bottom: 20px;
  }
  .middle-align {
    padding: 20px;
  }
  #comments ul{
    margin: 0!important;
  }
  .search-box a:focus{
    outline: 1px solid #000;
  }
  .slider .carousel-caption {
    top: 30%;
  }
  .slider .more-btn a {
    padding: 5px 15px;
  }
  .slider .inner_carousel h1 {
    font-size: 25px;
  }
  .post-navigation span.meta-nav {
    margin-bottom: 20px;
  }
  .serach_inner form.search-form{
    max-width: 250px;
  }
  .serach_inner label {
    width: 80%;
  }
}
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus, .main-navigation a:focus{
    outline: 1px solid #000;
  }
  .toggle-nav {
    display: none;
    position: relative;
    width: 50px;
    cursor: pointer;
    margin: 0 auto;
    top: 0px;
  }
  .toggle-nav i {
    font-size: 20px;
    color: #fff;
    padding: 8px;
    padding-top: 7px;
  }
  .toggle-nav button {
    background: #ff5400;
    border: none;
    border-radius: 50%;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    right: 0;
    top: -110%;
    overflow-x: hidden; 
    overflow-y: scroll;
    background: #fff ;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
  }
  .sidenav.show {
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    display: block !important;
    color: #000;
    border:none;
    background: transparent;
    margin-top: 0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer; 
    text-align: left;
  }
  .toggle-nav{
    display: block;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-left: none;
    border-top: 1px solid #f1f1f1;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-right:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-right: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-right: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: right;
    display: inline;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    right: 0px;
    width: 0px;
  }
    .sf-arrows .sf-with-ul:hover:after,
  .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  .slider img {
    height: auto !important;
  }
}
@media screen and (min-width: 721px) and (max-width: 1000px){
  .toggle-nav i {
    color: #fff;
  }
  .toggle-nav {
    width: auto;
    text-align: left;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1024px){
  #header .logo{
    padding: 4% 25px 4% 0;
  }
  .logowrapper{
    right: -50px;
  }
  .footer th,
  .footer td,
  .sidebar th,
  .sidebar td{
    padding: 1px;
  }
}